@tailwind base;
@tailwind components;
@tailwind utilities;

.changelog h3 {
    @apply text-2xl my-6 border-b-2;
}
.changelog h4 {
    @apply text-xl my-4;
}
.changelog h5 {
    @apply text-lg my-2;
}
.changelog p {
    @apply my-2;
}
.changelog ul {
    @apply list-disc list-inside mx-2;
}
.changelog a {
    @apply underline hover:no-underline;
}
